#app-container {
  max-width: 600px;

  #return-button {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 36px;
  }
  #return-button-container {
    width: 100%;
    text-align: right;
  }
}